In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Warehouse_and_Retail_Sales.csv")
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,NaN

In [5]:
df.isnull().sum().sort_values(ascending = False)

SUPPLIER            167
RETAIL SALES          3
WAREHOUSE SALES       3
ITEM CODE             2
ITEM TYPE             1
YEAR                  0
MONTH                 0
ITEM DESCRIPTION      0
RETAIL TRANSFERS      0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307643 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307642 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB

In [7]:
object_columns = ['WAREHOUSE SALES']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

        YEAR  MONTH                             SUPPLIER ITEM CODE  \
0       2020      1    REPUBLIC NATIONAL DISTRIBUTING CO    100009
1       2020      1                            PWSWN INC    100024
2       2020      1              RELIABLE CHURCHILL LLLP      1001
3       2020      1            LANTERNA DISTRIBUTORS INC    100145
4       2020      1                 DIONYSOS IMPORTS INC    100293
...      ...    ...                                  ...       ...
307640  2020      9              BOSTON BEER CORPORATION     98868
307641  2020      9  GLOBAL OCEAN AND AIR CARGO SERVICES     98884
307642  2020      9                         HEINEKEN USA     98906
307643  2020      9              RELIABLE CHURCHILL LLLP     98914
307644  2020      9                CONSTANTINE WINES INC     98930

                           ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                       BOOTLEG RED - 750ML      WINE          0.00
1                 MOMENT DE PLAISIR - 750ML      WINE          0.00
2       S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3             SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4            SANTORINI GAVALA WHITE - 750ML      WINE          0.82
...                                     ...       ...           ...
307640           SAM ADAMS OCTOBERFEST 1/6K      KEGS          0.00
307641            HARAR BEER 4/6NR - 11.2OZ      BEER          1.50
307642                 DOS EQUIS LAGER 1/2K      KEGS          0.00
307643          LINDEMANS KRIEK NR - 25.4OZ      BEER          0.00
307644        ARIS GREEK LAGER 4/6NR - 11OZ      BEER          0.00

        RETAIL TRANSFERS  WAREHOUSE SALES
0                    0.0              2.0
1                    1.0              4.0
2                    0.0              1.0
3                    0.0              1.0
4                    0.0              0.0
...                  ...              ...
307640               0.0             54.0
307641               1.0              8.0
307642               0.0             22.0
307643               0.0              4.0
307644               0.0              0.0

[307645 rows x 9 columns]

In [8]:
df.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [9]:
df.shape

(307645, 9)

In [10]:
df.isna().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             2
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [11]:
object_columns = ['SUPPLIER','ITEM TYPE','RETAIL SALES']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

        YEAR  MONTH                             SUPPLIER ITEM CODE  \
0       2020      1    REPUBLIC NATIONAL DISTRIBUTING CO    100009
1       2020      1                            PWSWN INC    100024
2       2020      1              RELIABLE CHURCHILL LLLP      1001
3       2020      1            LANTERNA DISTRIBUTORS INC    100145
4       2020      1                 DIONYSOS IMPORTS INC    100293
...      ...    ...                                  ...       ...
307640  2020      9              BOSTON BEER CORPORATION     98868
307641  2020      9  GLOBAL OCEAN AND AIR CARGO SERVICES     98884
307642  2020      9                         HEINEKEN USA     98906
307643  2020      9              RELIABLE CHURCHILL LLLP     98914
307644  2020      9                CONSTANTINE WINES INC     98930

                           ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                       BOOTLEG RED - 750ML      WINE          0.00
1                 MOMENT DE PLAISIR - 750ML      WINE          0.00
2       S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3             SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4            SANTORINI GAVALA WHITE - 750ML      WINE          0.82
...                                     ...       ...           ...
307640           SAM ADAMS OCTOBERFEST 1/6K      KEGS          0.00
307641            HARAR BEER 4/6NR - 11.2OZ      BEER          1.50
307642                 DOS EQUIS LAGER 1/2K      KEGS          0.00
307643          LINDEMANS KRIEK NR - 25.4OZ      BEER          0.00
307644        ARIS GREEK LAGER 4/6NR - 11OZ      BEER          0.00

        RETAIL TRANSFERS  WAREHOUSE SALES
0                    0.0              2.0
1                    1.0              4.0
2                    0.0              1.0
3                    0.0              1.0
4                    0.0              0.0
...                  ...              ...
307640               0.0             54.0
307641               1.0              8.0
307642               0.0             22.0
307643               0.0              4.0
307644               0.0              0.0

[307645 rows x 9 columns]

In [12]:
df.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [13]:
df.isna().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           2
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    0
WAREHOUSE SALES     0
dtype: int64

In [14]:
object_columns = ['ITEM CODE']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

        YEAR  MONTH                             SUPPLIER ITEM CODE  \
0       2020      1    REPUBLIC NATIONAL DISTRIBUTING CO    100009
1       2020      1                            PWSWN INC    100024
2       2020      1              RELIABLE CHURCHILL LLLP      1001
3       2020      1            LANTERNA DISTRIBUTORS INC    100145
4       2020      1                 DIONYSOS IMPORTS INC    100293
...      ...    ...                                  ...       ...
307640  2020      9              BOSTON BEER CORPORATION     98868
307641  2020      9  GLOBAL OCEAN AND AIR CARGO SERVICES     98884
307642  2020      9                         HEINEKEN USA     98906
307643  2020      9              RELIABLE CHURCHILL LLLP     98914
307644  2020      9                CONSTANTINE WINES INC     98930

                           ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                       BOOTLEG RED - 750ML      WINE          0.00
1                 MOMENT DE PLAISIR - 750ML      WINE          0.00
2       S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3             SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4            SANTORINI GAVALA WHITE - 750ML      WINE          0.82
...                                     ...       ...           ...
307640           SAM ADAMS OCTOBERFEST 1/6K      KEGS          0.00
307641            HARAR BEER 4/6NR - 11.2OZ      BEER          1.50
307642                 DOS EQUIS LAGER 1/2K      KEGS          0.00
307643          LINDEMANS KRIEK NR - 25.4OZ      BEER          0.00
307644        ARIS GREEK LAGER 4/6NR - 11OZ      BEER          0.00

        RETAIL TRANSFERS  WAREHOUSE SALES
0                    0.0              2.0
1                    1.0              4.0
2                    0.0              1.0
3                    0.0              1.0
4                    0.0              0.0
...                  ...              ...
307640               0.0             54.0
307641               1.0              8.0
307642               0.0             22.0
307643               0.0              4.0
307644               0.0              0.0

[307645 rows x 9 columns]

In [15]:
df.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [16]:
df.isna().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    0
WAREHOUSE SALES     0
dtype: int64

In [17]:
df.shape

(307645, 9)

In [18]:
df.to_csv('output.csv', index=False)